@model Lab.TP7.MVC.Models.CategoriesView
@{
    ViewBag.Title = "Update Page";
}

<header>
    <link rel="stylesheet" type="text/css" href="~/PersonalizedCss/HomeStyle.css" />
</header>
<h1>Categoría</h1>

@using (Html.BeginForm("InsertUpdate", "Categories", FormMethod.Post))
{

    <div>
        <small>Los campos marcados con un * son obligatorios</small><br />
        <div>
            <label style="font-size : large">*Nombre:</label>
            <br>
            @Html.HiddenFor(c => c.Id)
            @Html.EditorFor(c => c.Name, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.Name, null, new { @class = "red" })
            <br>
        </div>
        <div>
            <label style="font-size : large">Descripción:</label>
            <br>
            @Html.HiddenFor(c => c.Id)
            @Html.EditorFor(c => c.Description, "", new { @class = "form-control" })
            <br />
        </div>
        <br />
        <div style="text-align:left">
            <br>
            <input type="submit" class="btn btn-success" value="Guardar" />
        </div>
    </div>
}

